.product {
  cursor: pointer;
}

.product__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 10rem;
  height: 10rem;
}

.product__info {
  display: flex;
  justify-content: center;
}

.product__name {
  font-size: 0.75rem;
  margin-right: 0.2rem;
}

.product__price {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--secondary-color);
}

@media(min-width: 768px) {
  .product__image {
    background-size: 14rem;
    background-position: center;
    width: 12rem;
    height: 15rem;
  }

  .product__name {
    font-size: 1rem;
  }

  .product__price {
    font-size: 0.9rem;
  }
}