.product__image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 12rem;
}

.product__info {
  display: flex;
  justify-content: center;
}

.product__name {
  font-size: 0.9rem;
  margin-right: 0.2rem;
}

.product__price {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary-color);
}

@media(min-width: 768px) {
  .product__image {
    background-size: 14rem;
    background-position: center;
    height: 15rem;
  }

  .product__price {
    font-size: 0.9rem;
  }
}