.header {
  width: 100%;
  padding-top: 1rem;
}

.header__controls {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  text-align: center;
}

.header__logo__title {
  color: var(--secondary-color);
  font-family: 'Oswald', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  line-height: 2.5rem;
}

.header__logo__title--normal {
  font-weight: normal;
}

.header__logo__subtitle {
  background-color: #fff;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
}

.search-field {
  display: none;
}

.header__button {
  color: var(--primary-color);
  font-size: 2.2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.header__button--cart {
  position: relative;
}

.header__button--search {
  color: var(--secondary-color);
  font-size: 1rem;
}

.header__cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--secondary-color);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;

  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.header__off {
  width: 100%;
  margin-top: 0.5rem;
  background-color: var(--bg-color);
}

.off__description {
  text-align: center; 
  font-size: 1.3rem;
  font-weight: 500;

  padding: 0.2rem 0;
}

.header__off--desktop {
  display: none;
}

@media(min-width: 818px) {
  .header__logo__title {
    font-size: 2.2rem;
  }
  
  .header__logo__subtitle {
    font-size: 1.1rem;
  }
}

@media(min-width: 768px) {
  .header__button--menu {
    display: none;
  }

  .header__cart {
    display: flex;
    width: auto;
  }

  .header__off--mobile {
    display: none;
  }

  .header__off--desktop {
    display: block;
    background: none;
    width: 9rem;
    margin-top: 0;
    margin-left: 2rem;
  }

  .off__description {
    text-align: left;
    line-height: 1.6rem;
    padding: 0;
    color: var(--secondary-color);
  }
  
  .off__condition {
    display: block;
    font-size: 1rem;
  }

  .search-field {
    display: block;
    width: 35%;
  }
}