.footer {
  background-color: var(--bg-color);
  margin-top: 8rem;
  padding: 1.5rem;
}

/* NEWSLETTER */
.newsletter {
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
}

.newsletter__title {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}

.newsletter__description {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.01rem;
  margin-top: 1rem;
}

.newsletter__submit {
  display: flex;
  margin-top: 0.8rem;
}

.newsletter__input {
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
}

.newsletter__button {
  background-color: var(--secondary-color);
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 4px;
}

/* USEFUL */
.footer__useful {
  display: none;
}

/* SOCIAL */
.footer__social {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.social__link {
  color: var(--primary-color);
  font-size: 2.5rem;
}

/* COPYRIGHT */
.footer__copyright {
  width: 100%;
}

.copyright__text {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

@media(min-width: 768px) {
  .footer {
    padding: 2.5rem;
  }

  .newsletter {
    float: right;
    width: 50%;
    padding: 2rem;
  }

  .footer__useful {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
  }

  .useful__link {
    color: var(--secondary-color);
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .footer__social {
    width: 50%;
    justify-content: initial;
  }

  .social__link {
    text-align: left;
    margin-right: 2rem;
  }

  .copyright__text {
    text-align: left;
  }
}