.search {
  width: 100%;
  margin-left: 1rem;
  border: 1px solid #111;
  border-radius: 6px;
  display: flex;
}

.search__input {
  width: 100%;
  border: none;
  margin-right: 0.2rem;
  padding: 0 0.5rem;

  font-size: 0.95rem;
}