:root {
  --primary-color: #523468;
  --secondary-color: #d73a1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  font-family: 'Laila', serif;
  color: #111;
}

a {
  text-decoration: none;
  color: #eee;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media(min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}